{% extends "base.html" %}
{% block title %}Problems{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
{% endblock %}
{% block content %}
<body style="background-color: black;">
  <div class="d-flex flex-column mb-3 gap-3" style="background-color: black; padding: 20px;">
      <div class="p-2 d-flex flex-row gap-3 text-white" style="background-color: black;">
        <div class="d-flex flex-column" style="width: 500px; height:500px; background-color: #222;">
          <div class="text-white d-flex flex-row" style="padding: 40px; background-color: #222; height:200px;">
            <div class="d-flex flex-row" style="height: 400px; width: 400px;">
              <img class="rounded" src="https://assets.leetcode.com/users/default_avatar.jpg" style="height: 30%; width: 30%;"> 
              <span style="margin-left: 20px;"><h3>{{user}}</h3></span>
            </div>
          </div>
          <div style="margin-left: 20px;">
          <span style="margin-left: 20px; height: 20px;"><h3>Rating {{profile.rating}}</h3></span>
          <span style="margin-left: 20px; height: 20px;"><h5>Languages</h5></span>
          <h7 class="rounded border-0" style="background-color: #5d5a5a;">C++</h7><h7 style="margin-left: 233px; color: #5d5a5a;">      {{langs.cpp}}  problems solved</h7><br>
          <h7 class="rounded border-0" style="background-color: #5d5a5a;">C</h7><h7 style="margin-left: 255px; color: #5d5a5a;">        {{langs.c}}  problems solved</h7><br>
          <h7 class="rounded border-0" style="background-color: #5d5a5a;">Python</h7><h7 style="margin-left: 215px;color: #5d5a5a;">    {{langs.py}} problems solved</h7><br>
          <h7 class="rounded border-0" style="background-color: #5d5a5a;">JavaScript</h7><h7 style="margin-left: 200px;color: #5d5a5a;">{{langs.js}}  problems solved</h7>
        </div>
        </div>
        <div class="text-white" style="padding: 40px; background-color: #222; width: 500px; height:500px;">
          <canvas id="tag_chart" width="400" height="400" ></canvas>
        </div>
        <div class="text-white" style="padding: 40px; background-color: #222; width: 500px; height:500px;">
          <canvas id="diff_chart" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="d-flex flex-column gap-3 text-white" style="padding: 40px; background-color: #222; width: 1025px; height:500px;">
        <div class="card-header d-flex justify-content-between align-items-center text-white" style="background-color: #222;">
          <h5 class="mb-0">Problem Solved</h5>
        </div>
      <div class="table-responsive" >
          <table class="table mb-0 table-dark table-striped" >
              <thead class="small text-uppercase bg-body text-muted" >
                  <tr>
                      <th>Title</th>
                      <th>Difficulty</th>
                      <th>Tags</th>
                      <th>Date</th>
                  </tr>
              </thead>
              <tbody>

                  {% for problem in problems %}
                  <tr class="align-middle">
                      <td>
                          <div class="d-flex align-items-center">
                              
                              <div>
                                  <div class="h6 mb-0 lh-1"><a class="nav-link" href="/problem/{{problem.Problem_Id.Problem_ID}}">{{problem.Problem_Id.title}}</a></div>
                              </div>
                          </div>
                      </td>
                      <td class="diff">{{problem.Problem_Id.difficulty}}</td>
                      <td>
                          <span class="d-inline-block align-middle">{{problem.Problem_Id.problem_tags}}</span>
                      </td>
                      <td><span>{{problem.time_stamp}}</span></td>
                      <td class="text-end">
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
  </div>
  <script>

let ctx1 = document.getElementById("tag_chart").getContext("2d");
let ctx2 = document.getElementById("diff_chart").getContext("2d");
const data_tags = {
  labels: [
    'Array',
    'Linked-List',
    'Hash-Table',
    'Stack',
    'Dynamic-Programming',
    'Backtracking',
    'Binary-Search',
    'String',
    'Sorting',
    'Greedy',
    'Matrix'
  ],
  datasets: [{
    label: 'Tags Solved',
    data: ['{{tag.Array}}', '{{tag.Linked_List}}', '{{tag.Hash_Table}}', 
    '{{tag.Stack}}', '{{tag.Dynamic_Programming}}', '{{tag.Backtracking}}',
    '{{tag.Binary_Search}}','{{tag.String}}','{{tag.Sorting}}','{{tag.Greedy}}','{{tag.Matrix}}'],
    fill: true,
    backgroundColor: 'rgba(255, 99, 132, 0.2)',
    borderColor: 'rgb(255, 99, 132)',
    pointBackgroundColor: 'rgb(255, 99, 132)',
    pointBorderColor: '#fff',
    pointHoverBackgroundColor: '#fff',
    pointHoverBorderColor: 'rgb(255, 99, 132)'
  }, 
]
};

let chart_tags = new Chart(ctx1, {
  type: "radar",
  data: data_tags,
  options: {
     title: {
        text: "Stats",
        display: true
     }
  }
});

const data_diff = {
  labels: [
    'Hard',
    'Easy',
    'Medium'
  ],
  datasets: [{
    label: 'Solved',
    data: ['{{diff.Hard}}', '{{diff.Easy}}', '{{diff.Medium}}'],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(99, 250, 150)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
};

let chart_diff = new Chart(ctx2, {
  type: "doughnut",
  data: data_diff,
  options: {
     title: {
        text: "Stats",
        display: true
     }
  }
});
  </script>
</body>
{% endblock %}